.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a ,
.navbar-inverse .navbar-brand {
    color: #eee;
}

.navbar-inverse .navbar-toggle {
    border-color: #ccc;
}
