<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        查找标题：<br />
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        排序：
        <select ng-model="$ctrl.orderProp">
          <option value="id">顺序</option>
          <option value="name">名字</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="subjects">
        <li ng-repeat="mission in $ctrl.missions | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail subject-list-item">
          <a ng-click="$ctrl.test(mission)" class="thumb">
            <img ng-src="{{mission.imageUrl}}" alt="{{mission.name}}" />
          </a>
          <a href="#!/{{$ctrl.subjectId}}/{{mission.id}}">{{mission.name}}</a>
          <p>{{mission.introduction}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="test-container" ng-hide="$ctrl.startTest">
  <div class="test-content">
    <img src="data/1/1/test.png" width="1510px" height="778px">
  </div>
  <br />
</div>
